In [2]:
import pandas as pd

In [7]:
data = pd.Series([1,2,3,4,5],index=['a','b','c','d','e'])
data

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [9]:
data=pd.DataFrame([1,2,3,4,5])
data

   0
0  1
1  2
2  3
3  4
4  5

In [11]:
i=[[1,2,3,4,5],[6,7,8,9,10]]
df=pd.DataFrame(i)
df

   0  1  2  3   4
0  1  2  3  4   5
1  6  7  8  9  10

In [13]:
dict={"name":['kamal','saman','nimal'],'mark':[30,40,70]}
d=pd.DataFrame(dict)
d

    name  mark
0  kamal    30
1  saman    40
2  nimal    70